*{
    padding: 0;
    margin: 0;
}
.conteinerflex{
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    justify-content: space-evenly;
    
}
.conteinerflex div{
    width: 100px;
    height: 200px;
    border: 2px solid black;
    flex-direction: column;   
    background-color: aquamarine;

}